.layout {
  min-height: calc(100vh - 7rem);
}

.container {
  max-width: $website-width;
  padding: 0 1.5rem !important;
  margin: auto;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.highlighter {
  color: $main-color;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}

.to-top-btn {
  position: relative;

  i {
    font-size: 2rem;
  }
}

.icon-position{
  position: fixed;
  bottom: 120px;
  right: 25px;
  z-index: 20;
}

.icon-style{
  background-color: $dark-color;
  border: 2px solid $light-color;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;

  &:hover {
    animation: none;
    background: $main-color;
    color: #fff;
    border: 2px solid $dark-color;
  }
}

@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}