.layout {
  min-height: calc(100vh - 7rem);
}

.container {
  max-width: $website-width;
  padding: 0 1.5rem !important;
  margin: auto;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}